@import "components/fonts";
@import "components/reset";
@import "components/variables";
@import "components/mixins";
/* ==============================
🚀 Global
 ================================ */
.page__body {
	padding: 0;
	margin: 0;

	min-height: 100vh;

	position: relative;
	overflow-x: hidden;
	scroll-behavior: smooth;

	color: $black_200;
	background-color: $white;

	font-family: $bff;
	font-size: $bfz;
	font-weight: $bfw;
	line-height: $bflh;
	text-rendering: optimizeSpeed;
	@media (max-width: 768px) {
		&.lock {
			overflow: hidden;
		}
	}
}

.page__wrapper {
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 100%;
}

.container {
	$gap: 17px;
	max-width: #{$container + $gap * 2};
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: $gap;
	padding-right: $gap;
}

/* ==============================
🚀 Components
 ================================ */
@import "components/helpers";
@import "components/typography";
@import "components/button";
@import "components/links";
@import "components/form";
@import "components/burger";
@import "components/choices";
/* ==============================
🚀 Header
================================ */
@import "header/index";

/*==============================
🚀 Index
================================*/
@import "index/intro/index";
@import "index/services/index";
@import "index/company/index";
@import "index/team/index";
@import "index/directions/index";
@import "index/features/index";

/*==============================
🚀 Contacts
================================*/
@import "contacts/index";

/*==============================
🚀 Blog
================================*/
@import "blog/index";

/*==============================
🚀 Services
================================*/
@import "services/index";

/*==============================
🚀 Service
================================*/
@import "service/administration/index";
@import "service/price/index";
@import "service/projects/index";

/*==============================
🚀 Footer
================================*/
@import "footer/index";
