/* ==============================
# Buttons
 ================================ */
.button {
	color: $black_200;
	display: inline-block;
	text-align: center;
	line-height: 21.6px;
	transition: $anim;
	border: 0;
	border: none;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 25px;
	padding-right: 25px;
	cursor: pointer;
	border-radius: 50px;
}

.button--yellow {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: $white;
	background: linear-gradient(99.01deg, #ff9200 4.22%, #ffcc00 108.35%);
	box-shadow: 0px 4px 5px #ff9200, 0px 10px 15px #1678ac;
	&:hover, &:focus {
		color: $black_300;
	}
	&:active {
		box-shadow: none;
		transform: translateY(5px);
	}
}

.button--border {
	border: 2px solid #c1d0d9;
	&:hover, &:focus {
		border: 2px solid $black_300;
	}
	&:active {
		box-shadow: inset 0px 0px 1px 2px $black_300;
		transform: translateY(2px);
	}
}

.slider__button {
	background: url(../images/dist/aksi/svg/arrow-right.svg) no-repeat
		center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: $white;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
	top: 37%;
	&-prev {
		transform: rotate(-180deg);
		box-shadow: 0px -10px 20px rgba(0, 0, 0, 0.15);
		left: 0;
	}
	&-next {
		right: 0;
	}
}
