/* ==============================
# Links
================================ */
.link--blue {
	color: $lightBlue;
	&:hover,
	&:focus {
		color: $yellow;
	}
	&:active {
		color: $orange;
	}
}

.link--black {
	display: inline-block;
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	@media (max-width: 768px) {
		font-size: 18px;
		line-height: 26px;
	}
	&:hover, &:focus {
		color: $yellow;
		text-decoration-line: underline;
	}
}

.link--yellow {
	color: $yellow;
	&:hover,
	&:focus {
		text-decoration: underline;
	}
	&:active {
		color: $orange;
	}
}
