/* ==============================
# Typography
 ================================ */
h1 {
	font-size: 60px;
	line-height: 75.5px;
	color: $white;
}

h2,
h3,
h4,
h5,
h6 {
}

p {
}

.s-title {
	display: inline-block;
	font-weight: 700;
	font-size: 46px;
	line-height: 64.4px;
	@media (max-width: 768px) {
		font-size: 30px;
		line-height: 42px;
	}
	&::after {
		content: "";
		display: inline-block;
		background: url("../images/dist/aksi/svg/section-icon.svg") no-repeat
			center/contain;
		width: 48px;
		height: 26px;
		margin-left: 11px;
		@media (max-width: 768px) {
			width: 40.68px;
			height: 22px;
		}
	}
}

.sub-title {
	font-weight: 600;
	font-size: 22px;
	line-height: 26.4px;
	@media (max-width: 768px) {
		font-size: 18px;
		line-height: 22px;
	}
}

.block-heading {
	font-weight: 600;
	font-size: 36px;
	line-height: 43px;
	@media (max-width: 768px) {
		font-size: 26px;
		line-height: 31px;
	}
}

.price-number {
	font-weight: 700;
	font-size: 22px;
	line-height: 26px;
	color: $orange;
	@media (max-width: 768px) {
		font-size: 18px;
		line-height: 22px;
	}
}

.tac {
	text-align: center;
}

.tal {
	text-align: left;
}

.tar {
	text-align: right;
}
