$bfz: 18px; // base font size
$bflh: 32.4px; // base line height
$bfw: 400; // base font weight
$bff: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
	Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; // base font family

$white: #fff;
$black_100: #000;
$black_200: #333;
$black_300: #666;

$gray: #ABB7C1;
$lightGray: #F2F7FA;

$paleBlue: #7AA5DA;
$brightBlue: #54D3FC;
$lightBlue: #20A0C9;
$linkBlue: #1678AC;
$blue: #00549A;
$purple: #6F3FAA;


$yellow: #FFCC00;
$orange: #FF9200;

$green: #75B73B;

$gradient: linear-gradient(180deg, #00549A 0%, #20A0C9 81.91%);


$container: 1262px; // container size

$anim: all 0.3s ease; // animation


