doctype html
html.page(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		// Title
		title SiteName
		// Favicon
		link(rel="icon", href="images/favicon.png")
		// Styles
		link(rel="stylesheet", href="css/app.min.css")
	body.page__body
		.page__wrapper

			include views/views

		// Scripts
		script(src="js/app.min.js")