doctype html
html.page(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
		// Title
		title Aksi - Услуги и стоимость
		// Favicon
		link(rel="icon" type="image/png" href="images/dist/sample/favicon.png")
		// Styles
		link(rel="stylesheet" href="css/choices.min.css")
		link(rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
		link(rel="stylesheet" href="css/app.min.css")
		link(rel="stylesheet" href="css/iconfonts.css")
	body.page__body
		.page__wrapper

			include views/services

		// Scripts
		script(src="js/components/choices.min.js")
		script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
		script(src="js/app.min.js")