
block variables
	-
		var data = {};


header.header
	.container

		// Navigation
		nav.nav.header__nav

			// Logo
			a.logo.header__logo(href="#")
				img.logo__logo(src="images/dist/logo.svg", alt="Logo")

			// Burger
			button.burger.header__burger(aria-label="Menu")
				span.burger__line

			// Menu
			.header__menu
				ul.menu
					li.menu__item
						a.menu__link(href="#") Element 1
