/* ==============================
# Typography
 ================================ */
h1 {
	font-size: 60px;
	line-height: 75.5px;
	color: $white; 
}

h2,
h3,
h4,
h5,
h6 {
}

p {
}

.s-title {
	font-weight: 700;
	font-size: 46px;
	line-height: 64.4px;
	&::after {
		content: url('../images/dist/aksi/svg/section-icon.svg');
		padding-left: 18px;
		width: 48.07px;
		height: 26px;
	}

}

.s-title-2 {
	font-weight: 600;
	font-size: 22px;
	line-height: 26.4px;
}
