
block variables
	-
		var data = {
			menu: [
				{	
					href: '#',
					label: 'Компания'
				},
				{
					href: 'services.html',
					label: 'Услуги и цены'
				},
				{
					href: 'catalog.html',
					label: 'ИТ-аутсорсинг'
				},
				{
					href: 'blog.html',
					label: 'Блог'
				},
				{
					href: 'contacts.html',
					label: 'Контакты'
				},
			],
			supportLabel: 'Задать вопрос',
			contact: {
				text: 'Бесплатный аудит',
				attr: 'tel:+73513453456',
				number: '+7 (351) 345 34 56',
			},
		};


header.header
	.container

		// Navigation
		nav.header__nav

			// Logo
			a.header__logo(href="#")
				img(src="images/dist/aksi/index/header/logo.png", alt="Logo Aksi")
				

			// Burger
			button.burger.header__burger(aria-label="Menu")
				span.burger__line


			// Menu
			.header__menu 
				ul.header__list.header-list
					each i in data.menu
						li.header-list__item
							a.header-list__link(href=`${i.href}`)=i.label

				a.header__support.link--yellow(href="#")
					svg(width='22', height='22')
						use(xlink:href="images/dist/aksi/sprite.svg#question")
					| #{data.supportLabel}

				p.header__contact.header-contact
					span.header-contact__text=data.contact.text
					a.header-contact__tel(href=`${data.contact.attr}`)=data.contact.number

