/* ==============================
#Section
 ================================ */

.services {
	&.services-individ {
		padding-bottom: 95px;
		@media (max-width: 768px) {
			padding-bottom: 32px;
		}
	}
	&-individ__title {
		margin-bottom: 9px;
	}
	&__desc {
		margin-bottom: 38px;
		@media (max-width: 578px) {
			display: none;
		}
	}
	&__allview {
		@media (max-width: 768px) {
			display: none;
		}
	}

	// text
	&__text {
		max-width: 1167px;
		width: 100%;
		margin-top: 43px;
		@media (max-width: 768px) {
			font-size: 16px;
			line-height: 25px;
		}
	}
}