// Header
include header/index

// Main
main.page__main
	include index/intro/index
	include index/services/index
	include index/company/index
	include index/team/index
	include index/directions/index
	include index/features/index
	//- include template/index
// Footer
include footer/index