// Header
include header/index

// Main
main.page__main
	include service/administration/index
	include service/price/index
	include service/projects/index
	//- include template/index
// Footer
include footer/index